
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=IBM+Plex+Mono:wght@500;600&display=swap');

.App {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}